@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.App {
  height: 90%;
  width: 90%;
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Main {
  background-color: #282c34;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title-Repository {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.Font-style-user {
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.Font-style-name {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
}

.Font-style-lang {
  font-family: 'Roboto', sans-serif;
  font-size: smaller;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
